<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">TEAM 6</a>

    <ul class="navbar-nav ml-auto nav-tabs" id="myTab" role="tablist">
      <li class="btn-primary nav-item text-white" role="button">
        <a class="btn btn-success login" (click)="goToLogIn()">log In</a>
      </li>
    </ul>
  </div>
</nav>

<body>
  <div class="container">
    <header class="text-center">
      <h1 class="animate-charcter lineup">
        Start Managing Your Order Inventory With Us
      </h1>
      <p class="lead">
        Efficiently manage your inventory, customers, products and orders
      </p>
      <a class="btn btn-success login" (click)="goToLogIn()"
        >Start Your Journey Here</a
      >
    </header>

    <div class="grid-container">
      <div class="grid-item">
        <img src="../assets/images/customer.jpg" alt="Happy Customer" />
      </div>
      <div class = "glass">
      <div class="grid-item center">
        <h3 class="div-h">Happy Customers</h3>
        <p class="div-p">
          At Order Inventory Management, we prioritize building strong and
          lasting relationships with our customers. We believe in providing
          exceptional customer service and ensuring complete satisfaction. Our
          dedicated team is committed to understanding your unique requirements
          and delivering personalized solutions. We value your feedback and
          continuously strive to improve our services to meet your evolving
          needs.
        </p>
      </div>
    </div>
  </div>
    <br />
    <div class = "glass">
    <div class="grid-container">
      <div class="grid-item center2">
        <h3 class="div-h">Real-time Analytics and Management</h3>
        <p class="div-p">
          Stay ahead of the competition with our powerful real-time analytics
          and management tools. Gain valuable insights into your inventory,
          orders, and customer data to make informed business decisions. Our
          intuitive dashboard provides comprehensive reports and visualizations,
          giving you a clear understanding of your performance metrics. Monitor
          inventory levels, track order statuses, analyze customer trends, and
          optimize your operations for maximum efficiency and profitability.
        </p>
      </div>
      <div class="grid-item">
        <img
          src="../assets/images/analytics.jpg"
          alt="Real-time Analytics and Management"
        />
      </div>
    </div>
  </div>
    <br />
    <div class = "glass">
    <div class="grid-container">
      <div class="grid-item">
        <img src="../assets/images/support.jpg" alt="24x7 Support" />
      </div>

      <div class="grid-item center">
        <h3 class="div-h">24x7 Support</h3>
        <p class="div-p">
          We understand that your business operates around the clock, which is
          why we offer round-the-clock support. Our dedicated support team is
          available 24x7 to assist you with any queries, technical issues, or
          urgent requests. Whether you have a question about system
          functionality, need assistance with troubleshooting, or require
          immediate support, our experts are just a call or message away. Count
          on us to provide prompt and reliable support, ensuring smooth
          operations and minimizing any disruptions.
        </p>
      </div>
    </div>
  </div>
  </div>
</body>

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark footer">
  <p class="p-footer">
    &copy; 2023 Order Inventory Management System. All rights reserved.
  </p>
</nav>
