/* Custom styles for the Order Inventory Management System landing page */
body {
  background: rgb(17,34,55);
background: linear-gradient(90deg, rgba(17,34,55,1) 8%, rgba(24,98,147,0.9780287114845938) 55%, rgba(129,56,130,1) 100%);
    min-height: 90vh;
    }
    h1{
      color: white;
      
    }
    .welcome{
      text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.562);
    }
    .counts{
      color: rgb(252, 0, 0);
    }
    .lead{
      color: rgba(255, 255, 255, 0.566);
    }
    .nav-tabs{
      border-bottom: 0;
      }
      
    .container {
      max-width: 100%;
      margin: 0 auto;
      padding: 20px;
    }
    
    header {
      margin-bottom: 40px;
    }
    
    .card {
      background-color:  rgba(255, 255, 255, 0.701);
      margin-top: 30px;
      margin-bottom: 10px;
      border: none;
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.335);
    }
    .stcard{
      margin-top: 40px;
    }
    
    .card-img-top {
      object-fit: cover;
      height: 200px;
    }
    
    .card-title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    
    .card-text {
      color: #777;
    }
    
   p{
      margin-left: auto;
      margin-right: auto;
      color: white;
   }

   .grid-container {
    display: inline-grid;
    width: 50%;
    grid-template-columns: 100% 100%;
    margin-top: 20px;
  }
  .grid-container1 {
    display: inline-grid;
    width: 50%;
    grid-template-columns: 25% 25% 25% 25%;
    margin-top: 20px;
  }
  .grid-container3 {
    background-color:  rgba(255, 255, 255, 0.701);
    display: inline-grid;
    width: 50%;
    grid-template-columns: 100% 100%;
    margin-top: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.335);
  }
  .chart-container{
    margin-left: 5px;
    margin-right: 5px;
    background-color:  rgba(255, 255, 255, 0.701);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.335);
  }
  .chart-header{
    margin: 5px 5px 5px 5px;
    color: rgb(0, 0, 0);
  }
  .btn-insight, .date{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.335);
  }
    @media (max-width: 576px) {
      .card-img-top {
        height: 150px;
      }
    }